
body {
     font-family: "Roboto", sans-serif;
}
@import '../../globals';
html {
     background: rgba(0, 0, 0, 0.05);
     font-size: 14px;
     min-width: 100%;
}
@include react-md-everything;
a {
  text-decoration:  none;
  color: #fff;
}
.login-wrapper {
   position: absolute;
   top: -360px;
   left: 25%;
   height: 300px;
}
.message {
  text-align: center;
}
.option-signin {
   font-size: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
    .line-divider {
      width: 260px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .line-divider span {
      padding: 5px;
      color: darkgreen;
    }
}
.signin {
  @extend .login-form;
  padding-bottom: 0px;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 3px;
    font-size: 20px;
    text-transform: capitalize;

    .md-btn {
      text-transform: capitalize;
      font-size: 16px;
    }
}
.meal-opacity-enter {
  opacity: 0;

  &.meal-opacity-enter-active {
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
  }
}
.card_actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    min-width: 300px;
    height: auto;
    margin: 7px;
    margin-top: 0px;
}
.login-card {
 @extend .card;
  width: 520px;
  height: 500px;
  padding: 30px;
}
.my-card {
  @extend .card;
  min-width: 150px;
  max-width: 150px;
  margin: 3px;
  padding: 5px;
}
@media screen and (max-width: 640px) {
  .cards {
    align-items: flex-start;
    justify-content: center;
  }
  .my-card {
   margin: 3px;
  }
}
.social-button {
  color: #fff;
}
.social-icon {
  margin-right: 5px;
  color: #fff
}
.facebook-button {
  @extend .social-button;
  background-color: royalblue;
}
.github-button {
  @extend .social-button;
  background-color: #444444;
}
.twitter-button {
  @extend .social-button;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #55acee;
}
.masonry-grid {
  position: relative;
}
.masonry-grid .grid-item {
  position: absolute;
  transition: top 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955), left 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media (min-width: 360px) and (max-width: 640px){
    .small-device {
       justify-content: flex-start;
       font-size: 12px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
   .small-device {
       justify-content: flex-end;
       font-size: 10px;
       width: 100px;
    }
}
#chart-legends {
   padding-bottom: 10px;
}
#chart-legends li{
  min-width: 200px;
 max-width: 251px;
    list-style: none;
    padding: 0 0;
    word-break: break-all;
    font-size: 12px;
    font-family: monospace;
  margin: 3px;
    margin-left: -40px;
    margin-right: 15px;
}
.chart {
  width: 160px;
}
.poll-chart {
  width: 670px;
  padding-bottom: 20px;
  .poll-button {
    float: right;
    padding-top: 50px;
  }
}
.poll {
    width: 290px;
}
.polling {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
@media (max-width: 768px) {
  #chart-legends li{
    min-width: 100px;
      font-size: 9px;
      margin-left: -50px;
  }
  .chart {
    width: 120px;
  }
  .poll-chart {
    width: 350px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 18px;
    .poll-button {
      padding-top: 50px;
    }
  }
  .poll {
      width: 120px;
  }
}
#chart-legends li span{
  height: 10px;
  width: 20px;
  display: inline-block;
  border-radius: 2px;
  padding-top: 2px;
  margin-right: 5px;
}